/src/.dirstamp
/src/src/nautilus
/src/nautilus-autorun-software
/src/nautilus-enum-types.c
/src/nautilus-enum-types.h
/src/nautilus-freedesktop-generated.c
/src/nautilus-freedesktop-generated.h
/src/nautilus-generated.c
/src/nautilus-generated.h
/src/nautilus-resources.c
/src/nautilus-resources.h
/src/nautilus-shell-search-provider-generated.c
/src/nautilus-shell-search-provider-generated.h
