[D-BUS Service]
Name=org.freedesktop.Tracker3.Miner.Extract
Exec=/app/libexec/tracker-extract-3 
SystemdService=tracker-extract-3.service

# Miner details needed for tracker-control
Path=/org/freedesktop/Tracker3/Miner/Extract
NameSuffix=Miner.Extract
